*{
    font-family: 'Montserrat', sans-serif;
}

/* title in main section */

#title{
    background-color: #ff4c68;
    padding: 3% 15% 7%;
    
}


/* Navigation bar  */

.navbar-brand
{
    font-size: 3rem;
    font-family: ubuntu;
}

nav{

    padding-bottom: 4.5rem  !important; 
}

.nav-item{

    font-size:1.2rem;
    padding: 0px 22px;
    font-weight:500;
}



/* h1 in title */

.big-heading
{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
    color: white;

}

.btn{
    
    margin:5% 3% 5% 0;
}

.img-div{
    position: relative;
}

.iphone-img{

    width:60%;
    transform: rotate(25deg);
   
    margin-left: 18%;
    position: absolute;
    
}


@media (max-width:991px)
{
    .iphone-img{

        transform: rotate(0);
        position: static;
    }

    #title
    {
        text-align: center;
    }

    .iphone-img
    {
        margin:3% auto;
    }
}


@media (max-width:441px)
{
    #title
    {
        padding:3% 5% 7%;
    }

    .big-heading
    {
        font-size: 2.5rem;
        
    }

    .navbar-brand
    {
        font-size: 2.3rem;
    }

    .testi-text
    {
        font-size: 2rem;
    }

    .btn{

        font-size: 0.9rem;
    }
}


/* Feature section */

#features
{
    padding:7% ;
    position: relative;
    background-color: white;
   

}

.feature-icons
{
    color:#ef8172;
    font-size: 4rem;
    
    margin-bottom: 5%;
    
}

.feature-icons:hover
{
    color:#ff4c68;
}

div h3{

    font-size:1.6rem;
    font-weight:bolder;
}

#features p{

    color:#8f8f8f;
    font-size: 1.1rem;
}

#features .row div{

    text-align: center;
    padding:3% ;
}


/* Testimonials section */


#testimonials{

    background-color: #ef8172;
    color:white;
    text-align: center;
    

}



.carousel-item
{
    padding: 10% 20% ;
}


.t-img
{
    
    width:10%;
    border-radius: 100%;
    margin: 20px;
}


/* press section */

#press
{
    background-color: #ef8172;
    padding-bottom: 5%;
    text-align: center;
}

#press img{

    width:15%;
    margin-right: 2%;
}


/* pricing section  */
#pricing
{
    padding: 8% 3%;
    text-align: center;
}

#pricing h1{

    font-weight:700;
}



#pricing .container
{
    padding: 2%;
    margin:0 auto;
    
}


/* call to action */

#cta
{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 14% 5%;
    
}




/* Footer section */

#footer
{
    padding: 8% ;
    text-align: center;
    background-color: white;

}

#footer i{

    margin: 2%;
    font-size: 2rem;
    color: black;
}