*{
    font-family: 'Montserrat', sans-serif;
}

/* title in main section */

#title{
    background-color: #ff4c68;
    
}

.container-fluid
{
    padding: 3% 15% 7%;
}

/* Navigation bar  */

.navbar-brand
{
    font-size: 2.8rem;
    font-family: ubuntu;
}

nav{

    padding-bottom: 4.5rem  !important; 
}

.nav-item{

    font-size:1.2rem;
    padding: 0px 22px;
    font-weight:500;
}



/* h1 in title */

#title h1{
    
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: 800;
    color: white;
}

.btn{
    
    margin:5% 3% 5% 0;
}

.img-div{
    position: relative;
}

.iphone-img{

    width:60%;
    transform: rotate(25deg);
   
    margin-left: 18%;
    position: absolute;
    
}


@media (max-width:991px)
{
    .iphone-img{

        transform: rotate(0);
        position: static;
    }

    #title
    {
        text-align: center;
    }

    .iphone-img
    {
        margin:0 auto;
    }
}


/* Feature section */

#features
{
    padding:7% 15%;
    position: relative;
    background-color: white;
   

}

.feature-icons
{
    color:#ef8172;
    font-size: 4rem;
    
    margin-bottom: 5%;
    
}

.feature-icons:hover
{
    color:#ff4c68;
}

div h3{

    font-size:1.5rem;
    font-weight:bolder;
}

#features p{

    color:#8f8f8f;
}

#features .row div{

    text-align: center;
    padding:3%  5%;
}


/* Testimonials section */


#testimonials{

    background-color: #ef8172;
    color:white;
    text-align: center;
    

}

.carousel-item
{
    padding: 7% 15%;
}

#testimonials h2{

    font-size: 3rem;
    font-weight: 900;
    line-height: 1.7;
}

.t-img
{
    
    width:10%;
    border-radius: 100%;
    margin: 20px;
}


/* press section */

#press
{
    background-color: #ef8172;
    padding-bottom: 5%;
    text-align: center;
}

#press img{

    width:15%;
    margin-right: 2%;
}


/* pricing section  */
#pricing
{
    padding: 100px;
    text-align: center;
}


/* call to action */

#cta
{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 14% 5%;
    
}

#cta h3{

    font-size: 3.8rem;
    font-weight: 900;
    line-height: 1.5;
}


/* Footer section */

#footer
{
    padding: 8% ;
    text-align: center;
    background-color: white;

}

#footer i{

    margin: 1.5%;
    font-size: 2rem;
    color: black;
}